<script>
    /* global taxsystemsettings */

    function initTooltip() {
        $('[data-tooltip-toggle="taxsystem-tooltip"]').tooltip({
            trigger: 'hover',
        });
        if (taxsystemsettings.entity_type !== 'character') {
            $('[data-bs-toggle="taxsystem-popover"]').popover({
                trigger: 'hover',
                html: true,
            });
        }
    }

    function generateTable(TableName, url) {
        var table = TableName;

        if (window[TableName]) {
            $('#' + TableName).DataTable().destroy();
        }

        $.ajax({
            url: url,
            type: 'GET',
            success: function(data) {
                var membersData = Object.values(data[0].corporation); // Extract the members data

                window[table] = $('#' + TableName).DataTable({
                    data: membersData,
                    columns: [
                        {
                            data: 'character_portrait',
                            render: function (data, _, row) {
                                return data;
                            }
                        },
                        {
                            data: 'character_name',
                            render: function (data, _, row) {
                                return data;
                            }
                        },
                        {
                            data: 'status',
                            render: function (data, _, row) {
                                return data;
                            }
                        },
                        {
                            data: 'actions',
                            render: function (data, _, row) {
                                return data;
                            }
                        },
                    ],
                    order: [[1, 'asc']],
                    columnDefs: [
                        { orderable: false, targets: [0, 2] },
                    ],
                    filterDropDown: {
                        columns: [
                        {
                            idx: 2,
                            maxWidth: '200px',
                        }
                        ],
                        autoSize: false,
                        bootstrap: true,
                        bootstrap_version: 5
                    },
                    rowCallback: function(row, data) {
                        if (data.is_faulty) {
                            $(row).css('background-color', 'rgba(255, 0, 0, 0.1)');
                        }
                    },
                    initComplete: function () {
                        $('#' + TableName).removeClass('d-none');
                        initTooltip();
                    },
                    drawCallback: function () {
                        initTooltip();
                    },
                });
            },
            error: function(xhr, _, __) {
                var table = $('#' + TableName).DataTable();
                table.clear().draw(); // Clear the table

                var errorMessage = '';
                if (xhr.status === 403) {
                    errorMessage = 'You have no permission to view this page';
                } else if (xhr.status === 404) {
                    errorMessage = 'No data found';
                }

                if (errorMessage) {
                    table.rows.add([
                        { character_portrait: '', character_name: errorMessage, is_active, status: '' }
                    ]).draw();
                    $('#' + TableName).removeClass('d-none');
                }
            }
        });
    }

    document.addEventListener('DOMContentLoaded', function () {
        generateTable('members', taxsystemsettings.corporationMembersUrl);

        generateTable('payment', taxsystemsettings.corporationPaymentUsersUrl);
    });
    </script>
