{% load i18n %}
<div class="table-responsive">
    <!-- Payments Content-->
    <table class="table w-100 tax-table-hover" id="admin-history-table">
        <thead>
            <tr>
                <th class="w-auto">{% translate "ID" %}</th>
                <th class="w-auto">{% translate "User" %}</th>
                <th class="w-auto">{% translate "Date" %}</th>
                <th class="w-auto">{% translate "Target" %}</th>
                <th class="w-auto">{% translate "Action" %}</th>
                <th class="w-auto">{% translate "Comment" %}</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
