{% load i18n %}

<div class="card mb-3">
    <div class="card-header bg-primary rounded-top">
        <h3 class="me-3">{% translate "Members" %}</h3>
    </div>
    <div class="card-body rounded-bottom">
        <!-- Corporation Content-->
        <table class="table w-100 tax-table-hover" id="members">
            <thead>
                <tr>
                    <th class="w-auto"></th>
                    <th class="w-auto">{% translate "Character Name" %}</th>
                    <th class="w-auto">{% translate "Status" %}</th>
                    <th class="w-auto">{% translate "Joined" %}</th>
                    <th class="w-auto">{% translate "Actions" %}</th>
                </tr>
            </thead>

            <tbody>
                <!-- Corporation Members -->
            </tbody>
        </table>
    </div>
</div>
